[flake8]
max-line-length = 100
enable-extensions = FT
select =
    C901,  # flake8-mccabe
    E,  # flake8-pycodestyle
    F,  # flake8-pyflakes
    W,  # flake8-pycodestyle
    FT,  # flake8-tergeo
ignore=
    # conflict with black formatter
    W503,E203,
    # ignore !r recommendation
    FTB907,
    # some things don't need a docstring
    FTP306,FTP304,FTP305
per-file-ignores =
    test/*:FTP3
    test/test_plugin/*:FTP3,FTP041
ftp-python-version = 3.10.0
ftp-auto-manage-options = true
ftp-pyproject-toml-file = pyproject.toml
ftp-pytest-parametrize-names-type = csv
ftp-docstyle-lowercase-words = pylint-per-file-ignores
ftp-distribution-name = pylint-per-file-ignores
ftp-requirements-packages = test,pylint_per_file_ignores
ftp-requirements-ignore-type-checking-block = true
ftp-requirements-module-extra-mapping =
    test | *,
